::selection{
  color:black;
  background:white;
}
.App{
  background-color:slategrey;
  height:100vh;
  color:whitesmoke;
}
#app{
  font-family: 'Akaya Telivigala', cursive;
  font-size:4rem;
  position: absolute;
  top:50%;left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
